    .cabecalho_logo {
        display: flex;
    }
    
    .cabecalho_logo img {
        max-width: 200px;
        width: 100%;
    }
    
    .cabecalho_menu {
        display: flex;
        margin-left: 4%;
        flex-direction: row;
    }
    
    .cabecalho_ld {
        display: flex;
        float: right;
        margin-left: 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .cabecalho_ld_informacoes {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    .cabecalho_ld_informacoes_icones {
        float: right;
        width: 100%;
        height: 100%;
    }
    
    .cabecalho_ld_informacoes_icones ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        text-align: center;
        margin-top: 3%;
    }
    
    .cabecalho_ld_informacoes_icones li {
        margin: 0px;
        border: 0px;
        display: inline-block;
    }
    
    .cabecalho_ld_informacoes_icones img {
        max-height: 40px;
        width: 100%;
    }
    
    .cabecalho_ld_botao {
        height: 50%;
        width: 100%;
        margin-top: 5%;
    }
    
    .cabecalho_ld_botao button {
        background: #f09101;
        text-transform: uppercase;
        font-size: 100%;
        font-weight: bolder;
        padding: 4%;
        border: none;
        cursor: pointer;
        width: 100%;
        transition: all 0.6s ease-in-out;
        text-align: center;
        border-radius: 15px;
    }
    
    .cabecalho_ld_botao button:hover {
        background-color: #293095;
        color: #fff;
    }
    
    .menu_ul li {
        float: left;
    }
    
    .menu_ul a {
        display: block;
        padding: 23px 21px 23px;
        font-weight: bolder;
        letter-spacing: 0.5px;
        text-decoration: none;
        color: #fff;
        font-size: 13px;
        border-radius: 15px;
    }
    
    .menu_ul a:hover {
        background: #f09101;
        color: #000000;
    }
    
    footer div {
        text-transform: uppercase;
        text-align: center;
        font-weight: bolder;
        color: #fff;
        font-size: 12px;
        letter-spacing: 0.5px;
        margin-bottom: 12px;
    }
    
    @media only screen and (max-width: 1340px) {
        .menu_ul a {
            padding: 23px 9px 23px;
        }
        .cabecalho_menu {
            margin-left: 2%;
        }
    }
    
    @media only screen and (max-width: 1000px) {
        .cabecalho_ld_informacoes_icones img {
            max-height: 30px;
        }
        .cabecalho_logo img {
            max-width: 160px;
        }
        .menu_ul a {
            letter-spacing: -0.3px;
            padding: 23px 7px 23px;
            font-size: 12px;
        }
        .cabecalho_ld_botao button {
            margin-bottom: 10px;
            font-size: 94%;
        }
    }
    
    @media only screen and (max-width: 850px) {
        .cabecalho_ld_informacoes_icones img {
            max-height: 22px;
        }
        .cabecalho_ld_botao button {
            font-size: 12px;
            margin-bottom: 6px;
        }
        .menu_ul a {
            font-size: 10px;
            padding: 23px 5px 23px;
        }
        .cabecalho_logo img {
            max-width: 122px;
        }
    }
    
    @media only screen and (max-width: 720px) {
        .cabecalho_ld {
            margin-left: 0%;
        }
        .cabecalho_logo img {
            max-width: 97px;
        }
        .cabecalho_menu {
            margin-left: 0.5%;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .cabecalho_ld_informacoes_icones img {
            max-height: 18px;
        }
        .menu_ul a {
            font-size: 9px;
            padding: 23px 4px 23px;
            letter-spacing: -1.3px;
        }
        .cabecalho_ld_botao button {
            font-size: 10px;
            margin-bottom: 6px;
        }
    }
    
    @media only screen and (max-width: 500px) {
        .cabecalho_logo img {
            max-width: 80px;
        }
        .cabecalho_ld_botao button {
            font-size: 8px;
            margin-bottom: 6px;
        }
        .cabecalho_ld_informacoes_icones img {
            max-height: 12px;
        }
        .menu_ul a {
            font-size: 7px;
            padding: 23px 2px 23px;
            letter-spacing: -1px;
        }
        footer div {
            font-size: 10px;
        }
    }