    .grade_8 h1 {
        font-family: 'Oswald', sans-serif;
        color: #F09101;
        font-size: 30px;
        line-height: 30px;
        background: url(../imagens/index/bord-7.png) center bottom no-repeat;
        text-align: center;
        text-transform: uppercase;
        padding-top: 52px;
        padding-bottom: 28px;
        letter-spacing: 1px;
    }
    
    .grade_8_organizacao {
        position: relative;
        margin: 0 auto;
        padding: 38px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .plano {
        border: 5px solid #F09101;
        border-radius: 16px;
        margin-top: 30px;
        margin: 30px;
        text-align: center;
        padding: 10px 15px 32px;
        width: 225px;
        height: 375px;
        -moz-box-shadow: 0px 0px 1em #666;
        -webkit-box-shadow: 1px 1px 2em #f09101;
    }
    
    .plano_titulo {
        font-family: 'Oswald', sans-serif;
        text-shadow: 1px 1px #000;
        font-size: 30px;
        line-height: 46px;
        color: #F09101;
        font-weight: normal;
        background: transparent;
        margin: 0;
        margin-top: 0px;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: top;
        text-align: center;
    }
    
    .plano_linha {
        border-bottom: 1px solid #fff;
        padding-bottom: 13px;
    }
    
    .plano_botao_clique {
        background: #F09101;
        font-family: 'Avenir 85 Heavy';
        color: #000;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: bolder;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        margin-left: 0px;
        top: 25px;
        position: relative;
        line-height: 1.5em;
        outline: none;
        transition: all 0.3s ease-in-out;
        text-align: center;
        border-radius: 20px;
    }
    
    .plano_botao_clique:hover {
        color: #000;
        background: #fff;
    }
    
    .plano ul {
        list-style: none;
        text-align: left;
        padding-left: 0px;
        margin-top: 56px;
        color: #fff;
        font-family: 'Bahnschrift SemiBold';
    }
    
    .plano li+li {
        background: url(../imagens/index/icon-1.png) 12px 15px no-repeat;
        border-top: 1px solid #d2d2d2;
        padding-top: 11px;
        padding-bottom: 7px;
    }
    
    .plano li {
        background: url(../imagens/index/icon-1.png) 12px 10px no-repeat;
        padding-top: 7px;
        padding-left: 30px;
        vertical-align: top;
    }
    
    .container_9 img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        position: relative;
        display: inline-block;
    }
    
    .container_9 button {
        position: relative;
        z-index: 1;
        top: 0%;
        float: right;
        right: 21%;
        width: 419px;
        height: 89px;
        padding: 0;
        margin: -156px 0px 0px 0px;
        border-radius: 20px;
        background: #d67223;
        border: 5px outset #e97c29;
        font-size: 27px;
        font-family: "raleway";
        font-weight: bolder;
        color: #FFF;
    }
    
    .container_9 button:hover {
        background: #4b5cbd;
        border: 5px outset #293095;
    }
    
    @media only screen and (max-width: 1340px) {
        .grade_8 {
            width: 100%;
        }
        .plano {
            margin: 28px;
        }
        .plano ul {
            margin-top: 45px;
        }
        .plano_titulo {
            font-size: 29px;
        }
        .container_9 button {
            margin: -104px -62px 0px 0px;
            width: 389px;
            height: 75px;
            font-size: 26px;
        }
    }
    
    @media only screen and (max-width: 1000px) {
        .plano {
            margin: 16px;
        }
        .grade_8_organizacao {
            padding: 40px 0px;
        }
        .container_9 button {
            margin: -90px -62px 0px 0px;
            width: 334px;
            height: 61px;
            font-size: 22px;
        }
    }
    
    @media only screen and (max-width: 850px) {
        .plano {
            margin: 10px;
        }
        .plano_titulo {
            font-size: 24px;
        }
        .plano li {
            font-size: 15px;
        }
        .container_9 button {
            margin: -75px -68px 0px 0px;
            width: 310px;
            height: 49px;
            font-size: 20px;
        }
    }
    
    @media only screen and (max-width: 720px) {
        .plano {
            margin: 4px;
            height: 334px;
        }
        .plano_titulo {
            font-size: 20px;
        }
        .plano_botao_clique {
            font-size: 14px;
        }
        .plano li {
            font-size: 12px;
        }
        .container_9 button {
            margin: -65px -56px 0px 0px;
            width: 261px;
            height: 41px;
            font-size: 16px;
            border-radius: 17px;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .grade_8 h1 {
            font-size: 29px;
            padding-top: 26px;
        }
        .plano_titulo {
            font-size: 16px;
        }
        .plano_botao_clique {
            font-size: 12px;
            padding: 10px 5px;
        }
        .plano li {
            font-size: 10px;
            padding-left: 7px;
            /* background: url(../imagens/index/icon-1.png) 12px 10px no-repeat; */
        }
        .container_9 button {
            margin: -53px -49px 0px 0px;
            width: 220px;
            height: 27px;
            font-size: 13px;
            border-radius: 17px;
        }
    }
    
    @media only screen and (max-width: 500px) {
        .grade_8 h1 {
            font-size: 28px;
            padding-top: 25px;
        }
        .plano_titulo {
            font-size: 11px;
        }
        .plano_botao_clique {
            font-size: 10px;
            padding: 10px 1px;
            top: 20px;
        }
        .plano li {
            font-size: 9px;
            padding-left: 0px;
            /* background: url(../imagens/index/icon-1.png) 12px 10px no-repeat; */
        }
        .plano_linha {
            padding-bottom: 3px;
        }
        .plano ul {
            margin-top: 35px;
        }
        .plano {
            margin: 4px;
            height: 300px;
        }
        .container_9 button {
            margin: -45px -47px 0px 0px;
            width: 182px;
            height: 27px;
            font-size: 11px;
            border-radius: 10px;
        }
    }